.allRecipePage{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 64px;
}

.cardGrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 302px));
  justify-content: center;
}

.card {
  width: clamp(1px, 30vw, 302px);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden; 
  border: 2px solid var(--color-black);
}

.card img {
  height: clamp(1px, 20vw, 200px);
  object-fit: cover;
}

.cardContent {
  height: clamp(1px, 10vw, 102px);
  padding: 16px 8px;
  background: var(--Light-Terracotta, #D88C66);
  border-top: 2px solid var(--color-black);
}
.cardContent h2{
  padding: 0;
  margin: 0;    
  font-size: var(--cta-DeskAndMobile);
  color: var(--color-white);
  font-family: "Quicksand", sans-serif;  
}
.cardContentLayout2{
  display: flex;
  justify-content: space-between;
}
.cardContentLayout2 p, .cardContentLayout p{
  font-size: var(--smallText-DeskAndMobile);
  color: var(--color-white);
  font-family: "Quicksand", sans-serif;

  display: flex;
  align-items: center;
  gap: 8px;
}
.pagination{
  margin-block: 32px;
}
.filterContainer{
  background-color: var(--color-sage-green);
  padding: 16px;
  border-radius: 10px;
  height: fit-content;
}