* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/* Typography */
/*  */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  font-size: var(--mobile-body);
  max-width: 80ch;
}

h1, h2, h3, h4{
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
}
h1 {
  font-size: var(--mobile-h1);
}
h2 {
  font-size: var(--mobile-h2);
}
h3 {
  font-size: var(--mobile-h3);
}
h4 {
  font-size: var(--mobile-h4);
}
.navText{
  font-family: "Quicksand", sans-serif;
  font-size: var(--desktop-navbar-text);
  font-weight: var(--font-weight-semibold);
}


/*  */
/* Spacing & Layout */
/*  */
main {
  margin-inline: 80px;
}
h1{
  margin-block: var(--mobile-spacing-md);
} 
p, h2, h3, h4{
  margin-bottom: var(--mobile-spacing-sm);
}
.container {
  margin-bottom: var(--mobile-spacing-md);
}
section {
  margin-bottom: var(--mobile-spacing-xl);
}

/*  */
/* Global Styles */
/*  */
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}



.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-sage-green);
  color: var(--color-white);
  gap: var(--mobile-spacing-lg);
  padding: var(--mobile-spacing-lg);


}

.footer h3 {
  font-size: var(--desktop-body);
}


.footer a{
    font-size: var(--smallText-DeskAndMobile);
    text-decoration: underline;
  
  }

  .footer ul {
    list-style: none;
  }

.footer-socials h3 {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mobile-spacing-lg);
}

.copyrights {
  display: flex;
  justify-content:  end;
}

.fa-youtube, .fa-twitter, .fa-linkedin, .fa-facebook-f, .fa-instagram {
  font-size: 60px;
}

/* COMMUNITY */
.community-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-community {
  max-width: 464px;
}
.community-author{
  display: flex;
  align-items: center;
  gap: var(--mobile-spacing-md);
  margin-bottom: var(--mobile-spacing-md);
}
.community-author-date{
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}
.community-author-date p{
  margin: 0;
}
.community-author-date h2{
  margin: 0;
}

.community-section {
}

.community-content{
  background-color: var(--color-sage-green);
  margin-bottom: 2rem;
  padding: 32px;
  border-radius: 10px;
}
.recipe-img {
  width: 400px;
  height: auto;
  
}

.front-hero img {
  width: 100%;
  height: 400px;
}

.front h1, .front h2 {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mobile-spacing-md);
}

.front-recipe img, .front-kitchen img, .front-community img {
  width: 100%;
  height: 350px;
}

.front p {
  margin-bottom: var(--mobile-spacing-lg);
  margin-top: var(--mobile-spacing-md);
}

.container-recipe {
  display: flex;
}

.recipe-image-content {
  width: 70%;
  background-color: var(--color-light-terracotta);
  color: var(--color-white);
  height: auto;
}

.recipe-text {
  color: var(--color-white);
  background-color: var(--color-sage-green);
  width: 30%;
  padding: 10px;
  height: auto;
}

.related-recipes {
  display: flex;
  justify-content: center;
}

.related-recipes-text {
  border-radius: 10px;
  background-color: var(--color-apricot-yellow);
  margin-bottom: var(--mobile-spacing-xl);
  margin: 10px;
  width: 25%;
}
