/*  */
/* Variables */
/*  */
:root {
  /* Desktop Typography */
  --desktop-h1: 48px;
  --desktop-h2: 36px;
  --desktop-h3: 28px;
  --desktop-h4: 22px;
  --desktop-body: 18px;
  --desktop-breadcrumbs: 14px;
  --desktop-navbar-text: 18px;

  /* Mobile Typography */
  --mobile-h1: 24px;
  --mobile-h2: 22px;
  --mobile-h3: 20px;
  --mobile-h4: 18px;
  --mobile-body: 16px;
  --mobile-breadcrumbs: 12px;
  --mobile-navbar-text: 16px;

  /* Desktop and Mobile Typography */
  --cta-DeskAndMobile: 18px;
  --smallText-DeskAndMobile: 14px;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --color-sage-green: #5B8A72;
  --color-light-terracotta: #D88C66;
  --color-apricot-yellow: #F2C14E;
  --color-pastel-red: #FF7777;
  --color-midnight-blue: #2D3648;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Desktop Spacing */
  --desktop-spacing-sm: 8px;
  --desktop-spacing-md: 16px;
  --desktop-spacing-lg: 32px;
  --desktop-spacing-xl: 64px;

  /* Mobile Spacing */
  --mobile-spacing-sm: 8px;
  --mobile-spacing-md: 16px;
  --mobile-spacing-lg: 24px;
  --mobile-spacing-xl: 32px;

  /* Desktop Margins */
  --desktop-margin-md: 80px;

  /* Mobile Margins */
  --mobile-margin: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/* Typography */
/*  */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  font-size: var(--mobile-body);
  max-width: 80ch;
}

h1, h2, h3, h4{
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
}
h1 {
  font-size: var(--mobile-h1);
}
h2 {
  font-size: var(--mobile-h2);
}
h3 {
  font-size: var(--mobile-h3);
}
h4 {
  font-size: var(--mobile-h4);
}


/*  */
/* Spacing & Layout */
/*  */
nav{
  margin-bottom: var(--mobile-spacing-lg);
}
main {
  margin-inline: 20px;
}
h1{
  margin-block: var(--mobile-spacing-md);
} 
p, h2, h3, h4{
  margin-bottom: var(--mobile-spacing-sm);
}
.container {
  margin-bottom: var(--mobile-spacing-md);
}
section {
  margin-bottom: var(--mobile-spacing-xl);
}

/*  */
/* Global Styles */
/*  */
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}




